<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="heading">
        <h1><%= EcurrentTitle %></h1>
    </div>
    
    <div class="box">
        
        <% for(var i =0; i<EjsTodolist.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= EjsTodolist[i] %></p>
            </div>  
        <%}%>

        <form class="item" action="/" method="post">
        
            <input type="text" name="todo" placeholder="add more">
            <button type="submit" name="list" value="<%= EcurrentTitle %>">+</button>
        </form>
    </div>

</body>
<footer>
    this is what i done@2023
</footer>
</html>