
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.truncate-text').each(function() {
    var $this = $(this);
    var originalText = $this.text();
    var maxTextLength = 100; // Adjust this value as needed

    if (originalText.length > maxTextLength) {
      var truncatedText = originalText.substr(0, maxTextLength);
      $this.text(truncatedText + '...');
    }
  });
});
</script> -->
</body>
</html>
